body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
}

.btn-primary {
    width: 48%;
}

.btn-secondary {
    width: 48%;
}

#resultado, #observacao {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnVoltar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 30px;
    padding: 0;
}


/* Estilo para o botão de alternar tema */
#btnToggleTheme {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Estilo para o tema preto */
body.dark-theme {
    background-color: black;
    color: white;
}

body.dark-theme .btn {
    background-color: white;
    color: black;
}

body.dark-theme .form-control {
    background-color: white;
    color: black;
}

body.dark-theme .container h1 {
    color: black;
}

body.dark-theme .container .form-group {
    color: black;
}

body.dark-theme #resultado, #observacao {
    color: black;
}
